body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.message
  padding: 7px 12px
  margin-bottom: 5px
  &:last-child
    margin-bottom: 0
  background: rgb(0, 153, 255)
  color: white
  border-radius: 18px
  max-width: 564px
  .author
    margin: .2em 0
    font-style: italic
  .content
    margin: .2em 0
  .date
    font-size: .8em
